@keyframes expand {
  from {height: 0vh; width: 0vw}
  to {height: 70vh; width: 40vw}
}
@keyframes expandMobile {
  from {height: 0vh; width: 0vw}
  to {height: 80vh; width: 80vw;}
}
@keyframes texthide {
  from {color: rgba(58, 196, 4, .01); overflow: hidden;}
  to {color: rgba(58, 196, 4, 1); overflow: auto;}
}
@keyframes linkhide {
  from {color: rgba(97, 218, 251, .01)}
  to {color: rgba(97, 218, 251, 1)}
}

a {
  animation-name: linkhide;
    animation-duration: .4s;
    animation-delay: 2.1s;
    animation-fill-mode: both;
    
}

.modal-background {
  
    height: 80vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    animation-name: expand;
    animation-duration: 2.1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 3px solid #757575;
    border-radius: 5%;
    height: 70vh;
    width: 40vw;
    background-color: rgba(53, 56, 57, .5);
    padding: 3%
  }
  .title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 8vh;
    
    animation-name: texthide;
    animation-duration: .4s;
    animation-delay: 2.1s;
    animation-fill-mode: both;
    overflow-y: hidden !important;
    
    
  }
  .close {
    
    cursor: crosshair;
    

  }
  .content {
    text-align: left;
    overflow-y: auto;
    height: 90%;
    animation-name: texthide;
    animation-duration: .4s;
    animation-delay: 2.1s;
    animation-fill-mode: both;
    
  }
  
  .line-break {
    width: 90%;
    border-top-color: #757575;
    border-top-width: 1%;
    border-top-style: dashed;
    padding: 1%
  }
  @media screen and (orientation: portrait) {
    .modal-background {
      
      height: 80vh;
      width: 80vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .modal {
      animation-name: expandMobile;
      animation-duration: 2.1s;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border: 3px solid #757575;
      border-radius: 5%;
      height: 80vh;
      width: 80vw;
      background-color: rgba(53, 56, 57, .5);
      padding: 3%
    }
    .title-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 3vw;
      padding-bottom: 3%;
    }
    .close {
      
      cursor: crosshair;
      
  
    }
    .content {
      text-align: left;
      overflow-y: auto;
      height: 90%
    }
    
    .line-break {
      width: 90%;
      border-top-color: #757575;
      border-top-width: 1%;
      border-top-style: dashed;
      padding: 1%
    }
  }