.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h1 {
  font-size: 1.8vw;
}
h2 {
  font-size: 1.7vw;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: lightgray;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main {
  display: flex;
  flex-direction: row;
  height: 70vh
}
.content-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sym {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  text-align: center;
  border: 1px solid lightgray
}

.line-cont {
  display: flex;
  flex-direction: row;
  width: 20vw;
}

.borderRightBot {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  height: 10vh;
  width: 49%;
}
.borderLeftBot {
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  height: 10vh;
  width: 49%;
}
.button-cont {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.button-left {
  border: 1px solid lightgray;
  border-bottom-left-radius: 11% 50%;
  border-top-left-radius: 11% 50%;
  padding: 1%;
  width: 10vw;
  
  font-size: 1rem;
  cursor: crosshair;
}
.button-left-selected {
  border: 1px solid lightgray;
  border-bottom-left-radius: 11% 50%;
  border-top-left-radius: 11% 50%;
  padding: 1%;
  width: 10vw;
  background-color: lightgray;
  color: #282c34;
  font-size: 1rem;
  cursor: crosshair;
}
.button-mid {
  border: 1px solid lightgray;
  font-size: 1rem;
  padding: 1%;
  width: 10vw;
  cursor: crosshair;
}
.button-mid-selected {
  border: 1px solid lightgray;
  font-size: 1rem;
  padding: 1%;
  width: 10vw;
  cursor: crosshair;
  background-color: lightgray;
  color: #282c34;
}
.button-right {
  border: 1px solid lightgray;
  border-bottom-right-radius: 11% 50%;
  border-top-right-radius: 11% 50%;
  font-size: 1rem;
  padding: 1%;
  width: 10vw;
  cursor: crosshair;  
}
.button-right-selected {
  border: 1px solid lightgray;
  border-bottom-right-radius: 11% 50%;
  border-top-right-radius: 11% 50%;
  font-size: 1rem;
  padding: 1%;
  width: 10vw;
  cursor: crosshair;
  background-color: lightgray;
  color: #282c34;  
}